.info {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 margin-top: -35px;
    background-image: url(../../img/info__bg.png);
}
.info__text{
    width: 706px;
height: 219px;
    padding-left: 1073px;
    padding-top: 132px;
    padding-bottom: 131px;
    font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 50.1745px;
line-height: 73px;
text-align: right;
color: #FFFFFF;
}
.info__btn{
    margin-left: 1608px;
    width: 154.36px;
height: 49.31px;
border-width: 1.07191px 0px;
border-style: solid;
border-color: #FFFFFF;
background: none;
margin-bottom: 42px;
color: #FFFFFF;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 23.5821px;
line-height: 34px;
/* identical to box height */


}