.hero-wrapper {
    padding-top: 40px;
    padding-bottom: 69px;
    display: flex;
    justify-content: space-between;
}

.hero-first__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    width: 547px;
    height: 790px;
    padding: 0 0 19px 35px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../../img/hero-img1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top 79px;
    h4 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
    }
    a {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    a::after {
        content: "";
        width: 31px;
        height: 1px;
        display: block;
        background-color: #BF0000;
        margin-left: 10px;
    }
}

.hero-secund__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    width: 768px;
    height: 365px;
    padding: 0 0 29px 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../../img/hero-cap.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 24px;
    h4 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
    }
    a {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    a::after {
        content: "";
        width: 31px;
        height: 1px;
        display: block;
        background-color: #BF0000;
        margin-left: 10px;
    }
}

.hero-third-and-fourth_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hero-third__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    width: 365px;
    height: 365px;
    padding: 0 0 25px 17px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../../img/hero-slipper.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    h4 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
    }
    a {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    a::after {
        content: "";
        width: 31px;
        height: 1px;
        display: block;
        background-color: #BF0000;
        margin-left: 10px;
    }
}
.hero-fourth__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    width: 371px;
    height: 365px;
    padding: 0 0 25px 17px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../../img/hero-bag.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top -18px;
    h4 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
    }
    a {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    a::after {
        content: "";
        width: 31px;
        height: 1px;
        display: block;
        background-color: #BF0000;
        margin-left: 10px;
    }
}