.header {
}
nav {
    width: 170px;
    height: 797px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../../img/nav__bg.png);
    background-size: cover;
}
.nav__img{
    align-items: center;
    width: 79.68px;
height: 106px;
margin-top: 20px;
margin-left: 32px;

}
.header__list{

}
.header__list__item{
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
 margin-left: -22px;
color: #747474;
    list-style-type: none;
}
.list__item{
    margin-left: 22px;
}
.list__item:active{
    background-color: #fff;
}